<div class="container">

<div>
  <h3 class="h3SkillDetails">{{skill.skillName}}</h3>
  <div class="userImg profileh2"> 
  <img src="{{skill.picture}}" alt="">
  </div>
  <br>

  <form id="userFormDetails">
  <label>Description: </label>  
  <p>{{skill.description}}</p>
  <label>Schedule: </label>  
  <p>{{skill.scheduleSpecs}}</p>
  </form>
  
</div>
  {{#if showDelete}}
  <div class="skill-form">
    <form class="userForm" action="/skills/{{skill._id}}/update" method="post">

      <div>
        <label for="skillName">Name: </label>
        <input type="text" name="skillName" id="skillName" value="{{skill.skillName}}">
      </div>
      <br>
      <div>
        <label for="description">Description: </label>
        <input type="text" name="description" id="description" value="{{skill.description}}">
      </div>
      <br>
      <div>
        <label for="scheduleSpecs">Schedule: </label>
        <input type="text" name="scheduleSpecs" id="scheduleSpecs" value="{{skill.scheduleSpecs}}">
      </div>
      <br>
      <div>
        <label for="picture">URL picture: </label>
        <input type="text" name="picture" id="picture" value="{{skill.picture}}">
      </div>
      <br>
      <div class="profileB">
      <button class="big-btn" type="submit">Modify</button>
      </div >
      <div class="delete ">
      <a class="big-btn" href="/skills/{{skill._id}}/delete">Delete ❌</a>
    </div>
    </form>
    
  </div>
  {{/if}}

  <div id="comment-box">
    {{#if skill.comments}}
    <h4>Comments</h4>
    {{#each skill.comments}}
    <span>{{skill.username}}</span>
    <p>{{content}}</p>
    {{/each}}
    {{/if}}
  </div>

<div class="returnDetails">
  <a class="big-btn" href="/skills">Return</a>
</div>

  {{!-- <form action="/rooms/{{room._id}}/comment" method="post"> --}}
  <form id="comment-form">
    <label for="comment">Add a comment</label>
    <input type="text" id="comment">
  </form>

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  document.getElementById('comment-form').onsubmit = event => {
    event.preventDefault(); // prevents the default behaviour of the form

    axios.post("/skills/{{skill._id}}/comment", {
      comment: document.getElementById('comment').value
    }).then(response => {
      console.log(response.data)
      let commentBox = '<h2>Comments</h2>';

      console.log(response)
      response.data.forEach(comment => {
        commentBox += `<h4>${comment.author.username}</h4><p>${comment.content}</p>`
      })
      document.getElementById("comment-box").innerHTML = commentBox;
      document.getElementById('comment').value = ""
    }).catch(err => {
      console.log(err);
    })
  }
</script>